.my-card{
    border:1px solid whitesmoke;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.shipping-form{
    margin: 30px 100px;
    
   }
.shipping-form input{
    display: block;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
}
.title{
    color: #17D2B1;
    text-align: center;
}